body {
    background-color: #DAC243;
    margin: 0;
    min-width: 900px;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    height: 54px;
    background-color: #D9D9D9;
    min-width: 900px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    display: inline;
    margin: 0 30px;
    align-self: center;
}

nav a {
        font-size: 16px;
    color: black;
}

nav a:hover {
    color: #ff6600;
}

a:visited {
    color: black;
}

.imagemFundo {
    background-image: url('../images/mulher-academia.jpg');
     height: 100vh;
}

main {
    background-size: 100% 100%;
    background-position: center;
    background-color: #ffffff;
    min-width: 950px;
}

header {
    height: 70px;
    display: flex;
}

header h1 {
    margin-left: 30px;
    align-self: center;
}

footer div {
    display: flex;
    justify-content: space-between;
    
}

.divBuscaRapida {
    display: flex;
    align-self: center;
    margin-left: 100px;
    background-color: #D9D9D9;
    padding: 0px;
    border-radius: 5px;
    width: 500px;
}

.inputBuscaRapida {
    flex: 2;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
    border-color: #ffffff;
}

.botaoBuscaRapida {
    padding: 10px 10px;
    background-color: #D9D9D9;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.divLogin {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    text-align: center;
    align-self: center;
    margin-left: 5px;
}

.botaoLogin {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
}

.botaoCadastro {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
}

.botaoLogin:hover {
    background-color: #ff9933;
}

.botaoCadastro:hover {
    background-color: #555;
}

.sidenav {
    align-self: flex-start;
    max-width: 117.84px;
    background-color: #d9d9d9; 
    position:sticky;
    top:0px;
    overflow-y: auto;
}

.sidenav ul {
    margin: 0;
    padding: 0;
}

.sidenav li{
    display: inline-flex;
}

.sidenav li a.localPage{
    display: inline-flex;
}

.sidenav a {
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    flex-grow:1;
    justify-content: center;
    text-align: center;
}

.sidenav a:hover {
    color: #ff6600;
}

.sidenav a.localPage:hover{
    color:#000000;
}

.sidenav a.localPage{ 
    background-color: #ffffff;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    
}

.box{
    width: 117.84px;
    background-color: #d9d9d9;
    display: flex;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    color: #333;
    text-align: center;
}

form label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

.camposFormulario input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

form fieldset {
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;
  }
form legend {
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
}

.camposFormulario , .camposPreferencias {
    display: flex;
}

.infoPessoais {
    flex: 1;
}

.endereco {
    flex: 2;
    margin-left: 10px;
}

.preferencias {
    flex: auto;
}

.preferencias div {
    display: flex;
}

.primeiraImg{
    height:200px;
    width: 200px;
    justify-content: center;
    flex-grow: 1;
    box-shadow: 2px 2px 5px#8c8c8c;
    
}
.main-flexbox{
    display: flex;
    flex-wrap: wrap;
}
.supportFlexbox{
    flex: 1 1 auto;
    max-width: fit-content;
    min-width: 117.84px;
    background-color: #d9d9d9;
}
figure {
    margin: 20px;
    text-align: center;
}
figure figcaption{
    padding-bottom: 20px;
    padding-top: 5px;
    flex-grow: 1;
}
.flex-child-produtos{
    justify-content: center;
    max-height: fit-content;
    padding-left: 30px;
}
.break{
    flex-basis: 100%;
    height: 0;
}
